{% extends "ZhongfuBlogBundle::onePostDisposition.html.twig" %}

{% block metadescription %}{{ evenement.slug }}{% endblock metadescription%}

{% block meta %}
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ evenement.titre }}" />
    <meta property="og:description" content="{{ evenement.slug }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:site_name" content="Zhongfu.eu" />
    <meta property="article:section" content="{{ evenement.type.name }}" />
    <meta property="article:published_time" content="{{ evenement.date|date('Y-m-d')}}" />
    <meta property="og:image" content="{{ app.request.uriForPath(asset(evenement.avatar.url)) }}" />
    <meta property="og:image:url" content="{{ app.request.uriForPath(asset(evenement.avatar.url)) }}" />
    {#{% for image in evenement.imagesList %}#}
        {#{% if image != evenement.avatar %}#}
            {#<meta property="og:image" content="{{ app.request.uriForPath(asset(image.url)) }}" />#}
            {#<meta property="og:image:url" content="{{ app.request.uriForPath(asset(image.url)) }}" />#}
        {#{% endif %}#}
    {#{% endfor %}#}

{% endblock meta %}

{% block title %}{{ evenement.type.name }} - {{ evenement.titre }} - Zhongfu.eu{% endblock %}

            {% block post %}

                <h1>{{ evenement.titre }}</h1>

                <!-- start single stuff post -->
                <div class="singlepost_area">
                    <div class="singlepost_content">
                        <a href="{{ path('_categoryHome',{"category" : evenement.type.url}) }}"
                           class="stuff_category">{{ evenement.type.name }}</a>
                        <span class="stuff_date_evenement_unique  "> {% if not evenement.isOneDay %}Du {% endif %}{{ evenement.date|localizeddate('full', 'none', global_locale ) }}</span>
                        {% if not evenement.isOneDay %}
                            <span class="stuff_date_end">Au {{ evenement.dateEnd|localizeddate('full', 'none', global_locale ) }}</span>
                        {% endif %}

                        <h2>{{ evenement.slug }}</h2>
                        <img class="img-center" src="{{ asset(evenement.avatar.url) }}"
                             alt="{{ evenement.avatar.name }}">

                        {{ evenement.contenu|raw }}

                        <!-- single page pagination  -->
                        <div class="singlepage_pagination">

                            {% if evenementBefore is not empty %}
                                <a class="previous_btn"
                                   href="{{ path('_UniqueEvenement',{'id':evenementBefore.id,'category':evenementBefore.type.url}) }}">Précédent</a>
                            {% endif %}

                            {% if evenementAfter is not empty %}
                                <a class="next_btn"
                                   href="{{ path('_UniqueEvenement',{'id':evenementAfter.id,'category':evenementAfter.type.url}) }}">Suivant</a>
                            {% endif %}
                        </div>

                        <!-- author area-->
                        {#<div class="author">#}
                        {#<a href="#"><img src="{{ asset('images/raymonde2.jpg') }}" alt="raymonde mayer"></a>#}

                        {#<div class="author_details">#}
                        {#<h3><a href="#">Haimandi</a></h3>#}

                        {#<p>Praticienne de Qi Gong</p>#}
                        {#</div>#}
                        {#</div>#}
                    </div>
                </div>

                <!-- End single stuff post -->
            {% endblock post %}

            {% block similar %}
                {#<!-- start similar post -->#}
                {#<div class="similar_post_area">#}
                {#<h2>Similar Post You May Like <i class="fa fa-thumbs-o-up"></i></h2>#}
                {#<ul class="featured_nav similarpost_nav wow fadeInDown animated"#}
                {#style="visibility: visible; animation-name: fadeInDown;">#}
                {#<li>#}
                {#<a href="#" class="featured_img"><img alt="img" src="img/featured_img1.jpg"></a>#}

                {#<div class="featured_title">#}
                {#<a href="#" class="">Sed luctus semper odio aliquam rhoncus</a>#}
                {#</div>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#" class="featured_img"><img alt="img" src="img/featured_img1.jpg"></a>#}

                {#<div class="featured_title">#}
                {#<a href="#" class="">Sed luctus semper odio aliquam rhoncus</a>#}
                {#</div>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#" class="featured_img"><img alt="img" src="img/featured_img1.jpg"></a>#}

                {#<div class="featured_title">#}
                {#<a href="#" class="">Sed luctus semper odio aliquam rhoncus</a>#}
                {#</div>#}
                {#</li>#}
                {#</ul>#}
                {#</div>#}
            {% endblock similar %}

      {% block photos %}
          <!-- start featured post -->
          <div class="single_blog_sidebar">

              {% if evenement.formSeminarFile %}
                  <h2>Formulaire d'inscription</h2>
                  <ul class="featured_nav wow fadeInDown">
                      <a href="{{ asset( evenement.formSeminarFile.url) }}"><img src="{{ asset('images/pdf.png') }}"
                                                                                 alt="pdf logo"></a>
                  </ul>
              {% endif %}

              <h2>Autres images et photos</h2>
              <ul class="featured_nav wow fadeInDown">
                  {% for image in evenement.imagesList %}
                      {% if image != evenement.avatar %}
                          <li>
                              <div data-toggle="modal"
                                   data-target="#ImageModal{{ loop.index }}" class="featured_img"><img
                                          src="{{ asset(image.url) }}"
                                          alt="{{ image.name }}"></div>

                              <div class="featured_title">
                                  <a class="" href="#">{{ image.description }}</a>
                              </div>
                          </li>
                      {% endif %}
                  {% endfor %}

              </ul>
          </div>

          {#Modal#}
          {% for image in evenement.imagesList %}
              {% if image != evenement.avatar %}

                  <div id="ImageModal{{ loop.index }}" class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel"
                       aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal"
                                          aria-hidden="true">&times;  </button>
                                  <h4 class="modal-title" id="myModalLabel">{{ image.description }}</h4>
                              </div>
                              <div class="modal-body">
                                  <img class="img-responsive" src="{{ asset(image.url) }}" alt="{{ image.name }}">
                              </div>
                          </div>
                      </div>
                  </div>

              {% endif %}
          {% endfor %}
          {#modal end#}

          <!-- End featured post -->
      {% endblock photos %}

      {% block rightbar %}
          <!-- start middle bar content -->
          <div class="col-sm-6 col-md-2 col-lg-2">
              <div class="row">
                  <div class="middlebar_content">
                      <h2 class="yellow_bg">Articles de même categorie</h2>

                      <div class="middlebar_content_inner">
                          <ul class="middlebar_nav wow fadeInDown">
                              {% for article in articlesSameType %}
                                  <li>
                                      <a class="mbar_thubnail"
                                         href="{{ path('_UniqueArticle',{'id':article.id,'category':article.type.url}) }}"><img
                                                  src="{{ asset(article.avatar.miniUrl) }}"
                                                  alt="{{ article.avatar.name }}"></a>
                                      <a class="mbar_title"
                                         href="{{ path('_UniqueArticle',{'id':article.id,'category':article.type.url}) }}">{{ article.titre }}</a>
                                  </li>
                              {% endfor %}

                          </ul>
                      </div>
                      <div class="popular_categori">
                          <h2 class="limeblue_bg">Les categories</h2>
                          <ul class="poplr_catgnva wow fadeInDown">
                              {% for type in types %}
                                  <li><a href="{{ path('_categoryHome',{"category" : type.url}) }}">{{ type.name }}</a>
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End middle bar content -->
      {% endblock rightbar %}



{% block popular %}

{% endblock popular %}
