{% extends "ZhongfuBlogBundle::layout.html.twig" %}

{% block jsmanuel %}
    <script type="text/javascript" src="{{ asset('js/tinymce4/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="well-lg">
        <div class="form-group">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_label(form.firstname,"Prénom :") }}
            <div class="alert-danger">
                {{ form_errors(form.firstname) }}
            </div>
            {{ form_widget(form.firstname,{attr:{'size':'20'}}) }}

            <br>
            {{ form_label(form.lastname,"Nom :") }}
            <div class="alert-danger">
                {{ form_errors(form.lastname) }}
            </div>
            {{ form_widget(form.lastname,{attr:{'size':'20'}}) }}

            <br>
            {{ form_label(form.role,"Rôle :") }}
            <div class="alert-danger">
                {{ form_errors(form.role) }}
            </div>
            {{ form_widget(form.role,{attr:{'size':'40'}}) }}

            <br>
            {{ form_label(form.phone,"Téléphone :") }}
            {{ form_widget(form.phone) }}
            <div class="alert-danger">
                {{ form_errors(form.phone) }}
            </div>
        </div>

        {{ form_label(form.email,"Email :") }}
        {{ form_widget(form.email)}}
        <div class="alert-danger">
            {{ form_errors(form.email) }}
        </div>

        <br>

        {{ form_widget(form.save,{'attr':{'class': 'btn btn-primary'},'label':'Sauvegarder'}) }}

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}